body {
    background-color: #333;
    text-align: center;
}

#terminal {
    background-color: #000;
    font-family: monospace;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
